//sass variables and functions
$colors: (
  primary: #2ca58d,
  secondary: #ffba44,
  accent: #f3415a,
  mutedPrimary: #7ad5c3
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  // background-image: url("../images/pink\ dust.png");
  // background-color: #b63042;
  background-color: rgb(94, 90, 90);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 18vh 82vh;
}
//nav------------------------------------------------>
#navbar {
  grid-area: 1 / 1 / 2/ 4;
  // position: fixed; Why does this break it??? */
  background: color(primary);
  margin-bottom: 0;
  box-shadow: 5px 5px 15px black;
  #name {
    color: black;
    letter-spacing: 0.5em;
    margin-left: 5%;
    margin-top: 3vh;
    font-size: 47px;
  }
  ul {
    display: inline;
    position: absolute;
    top: 5.5vh;
    right: 30px;

    li {
      display: inline;
      margin-right: 17px;
      font-size: 20px;
    }
  }

  #dropdown-icon {
    display: none;
  }
}
//end navbar------------------------------------
a {
  text-decoration: none;
  color: white;
}

/*---------- hover animation------------------ */
#inline-menu li a,
#inline-menu li a:after,
#inline-menu li a:before {
  transition: all 0.4s;
}
#inline-menu li a:hover {
  color: map-get($colors, accent);
}
#inline-menu li a {
  position: relative;
}
#inline-menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: map-get($colors, accent);
  height: 2px;
}
#inline-menu li a:hover:after {
  width: 100%;
}
//-------
#dropdown-menu li a,
#dropdown-menu li a:after,
#dropdown-menu li a:before {
  transition: all 0.4s;
}
#dropdown-menu li a:hover {
  color: color(accent);
}
#dropdown-menu li a {
  position: relative;
}
#dropdown-menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: color(accent);
  height: 2px;
}
#dropdown-menu li a:hover:after {
  width: 100%;
}
//end hover animation-------------------------------------------|

// dropdown menu ---------------------------------------------->
#dropdown-container {
  display: none;
  grid-area: 2 / 1 / 3/ 4;
  margin-top: 0;
  position: relative;
  ul {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-left: 0;

    li {
      list-style-type: none;
      width: 100%;
      padding-top: 11px;
      padding-bottom: 10px;
      background: black;
    }
  }
}
//end dropdown menu-----------------------------------------|

#main {
  grid-area: 2 / 1 / 3 / 4;
}

//main content about page--------------------------------------------->
#me-pic {
  width: 30%;
  position: relative;
  margin: 50px 50px 20px 45px;
  float: left;
}
#bio {
  width: 90%;
  margin: 15px 0px 100px 15px;
  padding: 10px 0px 0 30px;
  text-align: justify;
  font-size: 2vw;
  color: rgb(248, 242, 242);
}

//end main content about page-----------------------------------|

//main content portfolio page--------------------------------->

#portfolio-area {
  width: 80%;
  margin: 0 auto;
  padding-left: 10vw;
}
#portfolio-area2 {
  width: 80%;
  margin: 0 auto;
  padding-left: 10vw;
}
.portfolio-img-div {
  width: 20vw;
  height: 32vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  float: left;
  margin-top: 10vh;
  margin-right: 5vw;

  color: white;
  .portfolio-img {
    width: 100%;
  }
  .caption {
    background-color: color(accent);
    padding: 3px;
    margin-top: -7px;
    font-size: 1.5vw;
  }
}
.portfolio-img-div:hover {
  color: color(primary);
}

//flip animation-------------------------------->
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 20vw;
  height: 28vw;
}
.back {
  background-color: color(primary);
  color: color(secondary);
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  color: black;
}
//end flip animation-------------------------------------------|

.back-content {
  margin-top: 1vh;
  .description {
    text-align: justify;
    font-size: 1vw;
    margin: 15px 15px 0 15px;
    font-size: 1.2vw;
  }
  span {
    font-size: 2vw;
    color: color(accent);
  }
}

//main contact content------------------------------->

#links {
  text-align: center;
  margin-top: 1vh;
  #topLinkRow {
    div {
      display: inline;
    }
    .fab {
      margin: 3vw;
    }
    #github {
      .fa-github {
        font-size: 70px;
        color: color(secondary);
        margin-top: 50px;
      }
    }
    #linkedIn {
      .fa-linkedin {
        font-size: 70px;
        color: color(secondary);
      }
    }
  }
  #bottomLinks {
    font-size: 30px;
    #email {
      margin: 5vh auto;
    }
    #phone {
      margin: 5vh auto;
    }
    #resume {
      margin: 5vh auto;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  color: black;
  background-color: color(primary);
  // border-top: 2px solid black;
  p {
    padding-top: 0px;
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    grid-template-rows: 12vh 88vh;
    #navbar {
      #name {
        margin-top: 2vh;
        font-size: 37px;
      }
    }
    #navbar #dropdown-icon {
      display: inline;
      position: absolute;
      right: 5vw;
      top: 5vh;
    }
    #navbar ul {
      display: none;
    }
  }

  #inline-menu {
    top: 80px;
    right: auto;
    left: 2%;
  }
  #inline-menu li {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    grid-template-rows: 12vh 88vh;
  }
  #name {
    letter-spacing: 0.5em;
    margin-left: 10%;
    margin-top: 30px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  #inline-menu {
    visibility: hidden;
  }
  #me-pic {
    width: 80%;
    margin-right: 0;
    margin-left: 10%;
    margin-bottom: 10px;
  }
  #bio {
    width: 80%;
    margin-left: 10%;
    padding-left: 0;
    font-size: 3.7vw;
    margin-bottom: 10vh;
  }
  #dropdown-icon {
    display: inline-block;
    position: absolute;
    top: 42px;
    right: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 410px) {
  #navbar #name {
    font-size: 25px;
    margin-top: 35px;
    letter-spacing: 0.3em;
  }
}
@media only screen and (max-width: 335px) {
  #name {
    margin-left: 4%;
  }
}
@media only screen and (max-width: 346px) {
  #navbar #name {
    font-size: 25px;
    margin-top: 35px;
    letter-spacing: 0.2em;
  }
}
